<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Queens Animal Shelter Admin Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <header class="ui top attached center aligned header">
            <h1>Welcome To Queens Animal Shelter Admin Dashboard</h1>
        </header>
        <div class="ui attached segment segments">
        {% for room in rooms %}
            <section class="ui segment">
                <h3>Room name: <a href="/room/{{room.name}}">{{ room.name }}</a></h3>
                <p>Number of cages: {{ room.number_of_cages }}</p>
            </section>
            <br>
        {% endfor %}
        </div>
        <footer></footer>
        <script src="" async defer></script>
    </body>
</html>