<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Queens Animal Shelter Admin Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <header class="ui top attached center aligned header">
            <h1>Welcome To Queens Animal Shelter Admin Dashboard</h1>
        </header>
        {% if error %}
        <div id="error">
            <p style="background-color:red;padding-left: 50px">{{ error }}</p>
        </div>
        {% endif %}
        <div class="ui attached segment segments">
        <button class="mini ui brown basic button" onclick="openModal()">Update A Room Name</button>
        <br>
        <br>
        {% for room in rooms %}
        <section class="ui segment">
            <h3>Room name: <a href="/room/{{room.name}}">{{ room.name }}</a></h3>
            <!-- <button class="mini ui brown basic right floated button" onclick="openModal(this)" value="{{ room.name }}">Change Room Name</button> -->
        </section>
        <br>
        {% endfor %}
        </div>
        <div class="ui grid mini modal">
            <div class="column">
                <h3>Room Name Update Form</h3>
                <form class="ui form" method="POST" action="/change_room_name">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="twelve wide field">
                        {{ form.current_name.label }} {{ form.current_name(size=15) }}
                    </div>
                    <div class="twelve wide field">
                        {{ form.new_name.label }} {{ form.new_name(size=15) }}
                    </div>
                    <br>
                    <div>
                        <button class="ui button" type="submit">Submit</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
        <script>
            function openModal(ele){
                // $('.ui.modal').modal('show');
                $('.mini.modal').modal('show');
            };
        </script>
    </body>
</html>