<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <header class="ui top attached center aligned header">
        <h1>You are now viewing the animals in {{room}} room</h1>
    </header>
    <section class="ui attached segment segments">
    {% if cage_ids %}
        {% for key in cage_ids.keys() %} 
        <div class="ui segment">  
            <h3>Shelter Cage {{ key }}</h3>
            {% for value in cage_ids[key] %}
            <div class="ui segment">
                <p>Name: {{ value.name }}</p>
                <ul>
                    <li>Species: {{ value.species }}</li>
                    <li>Age: {{ value.age }}</li>
                    <li>Gender: {{ value.gender }}</li>
                </ul>        
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    {% else %}
        <h1>There are no animals being kept in this room</h1>
    {% endif %}
    </section>
    <footer></footer>
</body>
</html>