<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>
<body>
    <header class="ui top attached center aligned header">
        <h1>You are now viewing the animals in {{room}} room</h1>
    </header>
    <section class="ui attached segment segments">
    {% if error %}
    <p style="background-color:red;padding-left: 50px">{{ error }}</p>
    {% endif %}
    <br>
    <a href="/"><h5>Return</h5></a>
    <br>
    <br>
    {% if cage_ids %}
        {% for key in cage_ids.keys() %} 
        <div style="width:95%" id="{{ room }} cage:{{ key }}" class="ui segment">  
            <h3>Shelter Cage {{ key }}</h3>
            <button class="ui button" onclick="openModal(this)" value="{{ key }}, {{ room }}">Add/Remove animal</button>
            {% for value in cage_ids[key] %}
            <div class="ui segment">
                <p>Name: {{ value.name }}</p>
                <ul>
                    <li>Species: {{ value.species }}</li>
                    <li>Age: {{ value.age }}</li>
                    <li>Gender: {{ value.gender }}</li>
                    <li>Unique Id: {{ value.id }}</li>
                </ul>        
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    {% else %}
        <h1>There are no animals being kept in this room</h1>
    {% endif %}
    </section>
    <div class="ui grid small modal">
        <div class="column">
            <h3>Animal Biographical Data Input Form</h3>
            <!-- <h5 style="color:red">All fields are required</h5> -->
            <h5 style="color:red">To remove, only Unique Id is required</h5>
            <form class="ui small form" method="POST" enctype="multipart/form-data" action="/{{ room }}/add_animal">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="five wide field">
                    {{ form.name.label }} {{ form.name(size=15) }}
                </div>
                <div class="one wide field">
                    {{ form.age.label }} {{ form.age(size=15) }}
                </div>
                <div class="three wide field">
                    {{ form.gender.label }} {{ form.gender(size=1) }}
                </div>
                <div class="four wide field">
                    {{ form.species.label }} {{ form.species(size=15) }}
                </div>
                <div class="five wide field">
                    {{ form.image_upload.label }} {{ form.image_upload(size=15) }}
                </div>
                <h5 style="color:purple" id="selected-cage"  class="ui dividing header"></h5>
                <div class="fields">
                    <div class="three wide field">
                        {{ form.room.label }} {{ form.room(size=10) }}
                    </div>
                    <div class="field">
                        {{ form.cage.label }} {{ form.cage(size=2) }} 
                    </div>
                </div>
                <br>
                <div>
                    <button class="ui button" type="submit">Submit</button>
                </div>
                <br>
            </form>
        </div>
    </div>
    <script>
        function openModal(ele){
            // debugger
            const values = $(ele).attr('value').split(",")
            const cage = values[0];
            const rm = values[1];
            $("#selected-cage").html(`Please confirm Room name and Cage # (currently: ${rm} room Cage # ${cage})`)
            $('.small.modal').modal('show');
            
        };

        $('.ui.radio.checkbox').checkbox();
        
        
   
        // $(document).ready(function(){
            // window.lclImg = ""
            // imgFile = $('input[type=file]')[0].files[0];
            
            // if(imgFile){
            //     reader = new FileReader();
            //     reader.onloadend = function () {
            //         lclImg = reader.result;
            //     };
            //     lclImg = reader.readAsDataURL(imgFile);	
            // if (imgFile) {
            //     member = {
            //         "name": name,
            //         "pic": lclImg
            //     }
            // } else {
            //     member = {
            //         "name": name,
            //         "pic": "no image"
            //     }
            // }
        // }
    </script>
</body>
</html>